.text_convertbtn {
  background-color: #1e70b9;
}
.placeholder {
  color: rgb(220, 220, 220);
  opacity: 0.5; /* Firefox */
  background-color: #f7f8fa;
}

.input_section {
  background-color: #f7f8fa;
  z-index: 0;
}
.placeholder::placeholder {
  /* z-index: 2; */
  color: gray;
  font-weight: 600;
  text-align: center;
}
.placeholder:focus {
  outline: none;
  box-shadow: none;
  background-color: #f7f8fa;
}
.labelapload {
  background-color: #1e70b9;
}
.labelapload {
  height: 30px;
  width: 130px;
}
.inputaploadFile {
  display: none;
}
.iconUpload {
  width: 20px;
  height: 30px;
  display: inline-block;
  /* background: url("paperpin.png") no-repeat ; */
  cursor: pointer;
}
.uploadfile {
  padding-left: 50px;
}
.button{
  background-color:  #1e70b9;;
}
p{
  margin-top: 20px;
}
h2,h3{
  margin-top: 10px;
}
.result{
  display: block;
}

.area_Result{
  height: 250px !important;
}

.download{
  
  background-color: #F2F5F7;
    border: 1px solid #E3E7ED;
    width: 45px;
    height: 45px;
    /* background-position: center; */
    background-repeat: no-repeat;
    cursor: pointer;
}
.copy{
  background-color: #F2F5F7;
    border: 1px solid #E3E7ED;
    width: 45px;
    height: 45px;
    /* background-position: center; */
    background-repeat: no-repeat;
    cursor: pointer;

}